@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(fonds/Inter/static/Inter_18pt-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonds/Inter/static/Inter_18pt-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(fonds/Inter/static/Inter_18pt-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(fonds/Inter/static/Inter_18pt-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonds/Inter/static/Inter_18pt-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(fonds/Inter/static/Inter_18pt-ExtraBold.ttf) format('truetype');
}
